/* =================================
  Base Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
}

p {
    font-size: .95em;
    margin-bottom: 1.5em;
}

h2,
h3,
a {
    color: #093a58;
}

h2,
h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
    font-size: 1.5em;
}

.name,
.main-nav li {
    text-align: center;
    background: #fff;
    margin-bottom: 2px;
}

.name a,
.main-nav a {
    padding: 10px 15px;
    text-align: center;
    display: block;
}

.main-nav a {
    font-size: .95em;
    color: mediumspringgreen;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #093a58;
}

/* ---- Layout Containers ---- */

.container {
    padding-left: 1em;
    padding-right: 1em;
}

.main-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: mediumspringgreen;
    margin-bottom: 30px;
}

/* =================================
  Treehouse Report Card
==================================== */

#reportCard {
    text-align: center;
}

#gallery {
    /*width: 50%;*/
    margin: auto;
}

#gallery li {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
}

#gallery li img {
    height: 100px;
}


#gallery li img:hover {
    opacity: .7;
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0;
}

/* =================================
  Media Query
==================================== */

@media (min-width: 789px) {

    .name {
        margin-top: 0;
        float: left;
        display: inline-block;
    }
    .main-nav {
        float: right;

    }
    .main-nav li {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
    }

    .main-nav li a:hover,
    .name a:hover {
        text-decoration: none;
    }





}